<h2>Please enter your information below to log in:</h2>
<br><br>

<form action="/login" method="post" id="login">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username">
  <br>
  
  <label for="password">Password:</label>
  <input type="password" name="user[password]" id="password">
  <br>
  
  <input type="submit" id="submit" name="submit">
  
</form>