<h3>Fill out the form below to sign up:</h3>
<br><br>

<form method="post" action="/signup">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username">
  <br>
  
  <label for="email">Your email address:</label>
  <input type="text" name="email" id="email">
  <br>
  
  <label for="password">Enter your password:</label>
  <input type="password" name="password" id="password">
  <br>
  
  <input type="submit" id="submit" value="Sign Up">
</form>